* {
  margin: 0;
  box-sizing: border-box;
}

.bars {
  display: flex;
  height: 100vh;
  transform: rotate(180deg);
  overflow: hidden;
}

.bar {
  border: 2px solid black;
  background-color: chartreuse;
  margin-right: 5px;
  width: 100%;
  height: 100%;
}
